# Allow users in plugdev group to control battery thresholds without sudo.
# Covers both the generic kernel interface and the Lenovo-specific interface.

KERNEL=="BAT0", SUBSYSTEM=="power_supply", \
    ATTR{charge_control_end_threshold}=="*", \
    RUN+="/bin/chgrp plugdev $sys$devpath/charge_control_end_threshold", \
    RUN+="/bin/chmod g+w $sys$devpath/charge_control_end_threshold"

KERNEL=="BAT0", SUBSYSTEM=="power_supply", \
    ATTR{charge_control_start_threshold}=="*", \
    RUN+="/bin/chgrp plugdev $sys$devpath/charge_control_start_threshold", \
    RUN+="/bin/chmod g+w $sys$devpath/charge_control_start_threshold"

KERNEL=="BAT0", SUBSYSTEM=="power_supply", \
    ATTR{charge_stop_threshold}=="*", \
    RUN+="/bin/chgrp plugdev $sys$devpath/charge_stop_threshold", \
    RUN+="/bin/chmod g+w $sys$devpath/charge_stop_threshold"

KERNEL=="BAT0", SUBSYSTEM=="power_supply", \
    ATTR{charge_start_threshold}=="*", \
    RUN+="/bin/chgrp plugdev $sys$devpath/charge_start_threshold", \
    RUN+="/bin/chmod g+w $sys$devpath/charge_start_threshold"

KERNEL=="BAT1", SUBSYSTEM=="power_supply", \
    ATTR{charge_control_end_threshold}=="*", \
    RUN+="/bin/chgrp plugdev $sys$devpath/charge_control_end_threshold", \
    RUN+="/bin/chmod g+w $sys$devpath/charge_control_end_threshold"

KERNEL=="BAT1", SUBSYSTEM=="power_supply", \
    ATTR{charge_control_start_threshold}=="*", \
    RUN+="/bin/chgrp plugdev $sys$devpath/charge_control_start_threshold", \
    RUN+="/bin/chmod g+w $sys$devpath/charge_control_start_threshold"

KERNEL=="BAT1", SUBSYSTEM=="power_supply", \
    ATTR{charge_stop_threshold}=="*", \
    RUN+="/bin/chgrp plugdev $sys$devpath/charge_stop_threshold", \
    RUN+="/bin/chmod g+w $sys$devpath/charge_stop_threshold"

KERNEL=="BAT1", SUBSYSTEM=="power_supply", \
    ATTR{charge_start_threshold}=="*", \
    RUN+="/bin/chgrp plugdev $sys$devpath/charge_start_threshold", \
    RUN+="/bin/chmod g+w $sys$devpath/charge_start_threshold"
