# Allow users in plugdev group to control battery charging without sudo.
# Covers the generic kernel interface, Lenovo-specific threshold files,
# and the charge_behaviour interface used for force-discharge.

KERNEL=="BAT0", SUBSYSTEM=="power_supply", \
    ATTR{charge_control_end_threshold}=="*", \
    RUN+="/bin/chgrp plugdev $sys$devpath/charge_control_end_threshold", \
    RUN+="/bin/chmod g+w $sys$devpath/charge_control_end_threshold"

KERNEL=="BAT0", SUBSYSTEM=="power_supply", \
    ATTR{charge_control_start_threshold}=="*", \
    RUN+="/bin/chgrp plugdev $sys$devpath/charge_control_start_threshold", \
    RUN+="/bin/chmod g+w $sys$devpath/charge_control_start_threshold"

KERNEL=="BAT0", SUBSYSTEM=="power_supply", \
    ATTR{charge_stop_threshold}=="*", \
    RUN+="/bin/chgrp plugdev $sys$devpath/charge_stop_threshold", \
    RUN+="/bin/chmod g+w $sys$devpath/charge_stop_threshold"

KERNEL=="BAT0", SUBSYSTEM=="power_supply", \
    ATTR{charge_start_threshold}=="*", \
    RUN+="/bin/chgrp plugdev $sys$devpath/charge_start_threshold", \
    RUN+="/bin/chmod g+w $sys$devpath/charge_start_threshold"

KERNEL=="BAT0", SUBSYSTEM=="power_supply", \
    ATTR{charge_behaviour}=="*", \
    RUN+="/bin/chgrp plugdev $sys$devpath/charge_behaviour", \
    RUN+="/bin/chmod g+w $sys$devpath/charge_behaviour"

KERNEL=="BAT1", SUBSYSTEM=="power_supply", \
    ATTR{charge_control_end_threshold}=="*", \
    RUN+="/bin/chgrp plugdev $sys$devpath/charge_control_end_threshold", \
    RUN+="/bin/chmod g+w $sys$devpath/charge_control_end_threshold"

KERNEL=="BAT1", SUBSYSTEM=="power_supply", \
    ATTR{charge_control_start_threshold}=="*", \
    RUN+="/bin/chgrp plugdev $sys$devpath/charge_control_start_threshold", \
    RUN+="/bin/chmod g+w $sys$devpath/charge_control_start_threshold"

KERNEL=="BAT1", SUBSYSTEM=="power_supply", \
    ATTR{charge_stop_threshold}=="*", \
    RUN+="/bin/chgrp plugdev $sys$devpath/charge_stop_threshold", \
    RUN+="/bin/chmod g+w $sys$devpath/charge_stop_threshold"

KERNEL=="BAT1", SUBSYSTEM=="power_supply", \
    ATTR{charge_start_threshold}=="*", \
    RUN+="/bin/chgrp plugdev $sys$devpath/charge_start_threshold", \
    RUN+="/bin/chmod g+w $sys$devpath/charge_start_threshold"

KERNEL=="BAT1", SUBSYSTEM=="power_supply", \
    ATTR{charge_behaviour}=="*", \
    RUN+="/bin/chgrp plugdev $sys$devpath/charge_behaviour", \
    RUN+="/bin/chmod g+w $sys$devpath/charge_behaviour"

